form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.StripeElement {
  padding: 15px;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fafafa;
}

form button {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;

  background-color: var(--primary-color);
  color: var(--accent-color);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.CheckoutForm button:hover {
  background-color: var(--accent-color);
}
